
  
  .carritoLista {
    list-style: none;
    padding: 0;
  }
  
  .carritoItem {
    display: flex;
    margin-bottom: 1.5rem;
    align-items: center;
    border: 1px solid #ddd;
    padding: 0.6rem;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .carritoImg {
    max-width: 180px;
    max-height: 180px; 
    margin-right: 20px;
    border-radius: 10px;
  }
  .carritoInfo {
    flex-grow: 1;
  }
  
  .carritoTitulo {
    font-size: 1.7rem;
    font-weight: bold;
    margin: 1rem;
    text-align: center;
  }
  
  .carritoNombre {
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 0.2rem;
   font-style: italic;
  }


  .carritoCantidad {
    font-size: 1rem;
    color: #888;
    margin-bottom: 5px;
  }
  
  .carritoPrecio {
    font-size: 1rem;
    font-weight: bold;
    color: #041c5f; 
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
  }
  
  .botonEliminar {
    border: 1px solid brown;
    background-color: red;
    color: white;
    padding: 0.25rem;
    margin-top: 0.8rem;
  }
  
  .montoTotal {
    float: right;
    margin-right: 1.5rem;
    font-style: italic;
    font-size: 2rem;
  }